
.img-container{
    margin-left: 8rem;
    margin-top: 7rem;

    
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
.bookdtls-container{
    width: 60%;
    margin-top: 5.5%;
    margin-right: 4rem;
    font-size: larger;
   

}
.bookdtls-container p{
 
    margin-bottom: 1rem;
}
.Cart-btn{
    background-color: orange;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
}
.Cart-btn:hover{
    background-color: black;
}