.img-container {
    margin-left: 8%;
    margin-top: 7%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.bookdtls-container {
    width: 100%; 
    max-width: 800px; 
    margin-top: 3%;
    margin-right: 4%;
    font-size: 1em;
}

.bookdtls-container p {
    margin-bottom: 1rem;
}

.Cart-btn {
    background-color: orange;
    color: white;
    padding: 0.5em 1em; 
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.Cart-btn:hover {
    background-color: black;
}
