.Cart-container h2 {
    color: orange;
    text-align: center; 
    margin-top: 2rem;
    font-size: 3rem; 
}

.check-btn {
    background-color: orange;
    margin: 0 auto;
    display: block; 
    width: fit-content;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer; 
}

.check-btn:hover {
    background-color: green;
}


/* 
.cart-item-img{
    margin-left: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;


}
.cart-item-content{
    margin-top: 8rem;
    margin-left: 5rem;



}
.cart-item{
    border: 1px solid burlywood;
    display: flex;
    border-radius: 3rem;
    width: 60%;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 4rem;

    

    
} */