.Productslist-container-img {
    padding: 1rem; 
    object-fit: contain;
    max-width: 100%; 
    height: auto; 
}

.Productslist-card {
    border: 0.5px solid rgb(192, 184, 184);
    border-radius: 1rem;
    padding: 1rem; 
    margin-bottom: 10px;
    width: 100%; 
    max-width: 400px; 
    box-sizing: border-box; 
}

.Productslist-details, .Productslist-details p {
    font-size: large;
    padding-top: 1rem;
    font-weight: bold;
    text-align: center; 
}

.product-btn {
    background-color: orange;
    width: 100%;  
    border-radius: 1rem;
    color: white;
    padding: 0.5rem 0;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer; 
}

.product-btn:hover {
    background-color: brown;
}
