.showcase-container {
    height: 100vh;
    width: 100%;
    background-image: url('../../../Pages/Pics/books9.jpg');
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.showcase-content {
    width: 90%; 
    max-width: 800px; 
}

h1 {
    font-size: 4rem; 
    color: #000000;
    margin-bottom: 1rem; 
}

p {
    font-size: 1.25rem; 
    color: #000000;
    margin-bottom: 2rem; 
}


