.container {
    padding: 2rem; 
    width: 90%;
    margin: 0 auto; 
    max-width: 1200px; 
    box-sizing: border-box; 
}

h2 {
    padding-bottom: 1rem;
}

.Productslist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.Productslist-card {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px;
    
}


@media screen and (max-width: 768px) {
    .container {
        padding: 1rem; 
    }

    .Productslist-card {
        width: calc(50% - 20px); 
    }
    
    
}


@media screen and (max-width: 480px) {
    .Productslist-card {
        width: 100%; 
    }

    
}



/* 
.Productslist-container-img{
    padding-top: 1rem;
    padding-left: 2rem ;
    padding-right: 2rem;
    padding-bottom: 0.1rem;
    
}

.Productslist-card{

    border: 0.5px solid rgb(192, 184, 184);
    width: fit-content;
    border-radius: 1rem;
    padding: left 1rem;
    padding-bottom: 0.5;
    padding-top: 1rem;
    margin-bottom: 10px;

}
.Productslist-details,p{
    font-size: large;
    padding-top: 0.5rem;
    font-weight: bolder;
}
.product-btn{
    background-color: orange;
    width: 50%;
    display: inline-block;
    border-radius: 1rem;
    color: white;
    padding: 0.5rem 0;
   
}
.product-btn:hover{
    background-color: brown;
} */