.Cart-container h2 {
    color: orange;
    text-align: center; 
    margin-top: 2rem;
    font-size: 3rem;
}

.cart-item {
    border: 1px solid burlywood;
    border-radius: 1rem; 
    width: 90%;
    max-width: 600px; 
    margin: 2rem auto; 
    padding: 1.5rem; 
    display: flex;
    flex-wrap: wrap; 
}

.cart-item-img {
    margin-bottom: 1rem; 
}

.cart-item-content {
    margin-left: 1rem; 
}

.Cart-section {
    margin-top: 1rem;
}

.cart-price {
    color: orange;
}

.Cart-dlt {
    background-color: rgb(138, 71, 71);
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    margin-top: 0.5rem;
    border: none;
    cursor: pointer; 
}

.Cart-dlt:hover {
    background-color: red;
}
