.navbar-container {
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: rgb(109, 106, 106);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
}

.nav-links-container {
    display: flex;
    align-items: center;
}

.Cart-link {
    display: inline-block;
    padding-right: 25px;
    cursor: pointer;
    color: white; 
    font-size: 1.5rem; 
}

.logo {
    font-size: 2rem; 
    color: white;
    padding-top: 0.5rem;
}

.nav-links {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Josefin Sans;
    padding: 0 1rem; 
    cursor: pointer;
    font-weight: bolder;
}

.nav-links:hover {
    color: rgb(206, 58, 58);
}


.background-dark {
    background-color: #a7a5a5;
}

.background-transparent {
    background-color: transparent;
}
