.Cart-container h2{
    color: orange;
    justify-content: center;
    display: flex;
    margin-top: 2rem;
    font-size: 3rem;;
}

.cart-item-img{
    margin-left: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;


}
.cart-item-content{
    margin-top: 8rem;
    margin-left: 5rem;



}
.cart-item{
    border: 1px solid burlywood;
    display: flex;
    border-radius: 3rem;
    width: 60%;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 4rem;
}
.Cart-section{
 margin-top: 1rem;
}
.cart-price{
    color: orange;
}
.Cart-dlt{
    background-color: rgb(138, 71, 71);
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    margin-top: 0.5rem;
    border: none;
}
.Cart-dlt:hover{
    background-color: red;

}
.SearchInputbtn {
    background-color: orange;
    padding: 0.5rem 1rem; 
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    color: white;
    display: inline-block;
    cursor: pointer; 
}

.SearchInputbtn:hover {
    background-color: brown; 
}